html {
	font-size: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'League Spartan', sans-serif;
	line-height: 1.2;
}

header, section, footer {
	width: 100%;
	margin: auto;
}
	
	#header {
	height: 100px;
	background-color: rgba(255, 255, 0, 1.0);
	}

	#encabezado{
		height: 50px;
		background-color: yellow;
	}
		#logo { /*logo desbordado hacia abajo*/
			height: 100px;
			float: left;
			background-color: rgba(225, 0, 0, 1.0);
		}

	#opt_menu_desp{width: 100%;}
		
	#desborde {
		background-color: rgba(255, 0, 0, 1.0);
		height: 50px;
	}

	.sty_img_box{
		width: 300px; height: 300px;
		margin: auto;
	}

	#Presentac{ }
			#fotos_entrada{background: green;}
				#img1{ background: orangered;}
				#img2{ background: purple; }
					.img_pres{ 	}
			#txt_present{ background-color: skyblue; }


@media all and (min-width: 800px) {

	header, section, footer {width: 96%;}

	#enlaces {
		display: block;
		
		background-color: ;
	}
		#botonera_arriba {
			
		}
			.btn_botonera {
				background-color: saddlebrown;
				display: inline-block;
			}
			.btn_botonera a {
				text-decoration: none;
				font-size: 20px;
				padding: 5px 15px;
				color: white;
			}

		#menu_desp, span {display: none;}

		#desborde {
				background-color: red;
				height: 50px;
			}
	
}
