html {
	font-size: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'League Spartan', sans-serif;
	line-height: 1.2;
}

header, section, footer {
	width: 100%;
	margin: auto;
}
	
	#header {
	height: 100px;
	background-color: rgba(255, 255, 0, 1.0);
	}

	#encabezado{
		height: 50px;
		background-color: yellow;
	}
		#logo { /*logo desbordado hacia abajo*/
			height: 100px;
			float: left;
			background-color: rgba(225, 0, 0, 1.0);
		}

		#hamb {
			background: darkorange;
			height: 64px;
			max-width: 68px;
			padding: 18px;
			float: right;
		}
			span {
				display: block;
				width: 54px;
				height: 8px;
				background-color: black;
				margin: 6px;
				float: right;
			}
			
			#enlaces {display: none;}
	#opt_menu_desp{
		width: 100%;
	}
		.nav_menu_desp {
			margin-top: 50px;
			width: 100%;
			background: black;
			display: none;
			position: fixed;
			height: 250px;
		}
		/*.active{display: block;}*/
			.btns_menu_desp {
				background: darkorange;
				list-style-type: none;
				padding: 0px;
			}
				.btn_botonera {
					background-color: saddlebrown;
					border-top: 1px solid white;
					text-align: center;
					padding: 20px;
				}
					.btn_botonera a {
						text-decoration: none;
						font-size: 30px;
						color: white;
					}

	#desborde {
		background-color: rgba(255, 0, 0, 1.0);
		height: 50px;
	}

	.sty_img_box{
		width: 300px; height: 300px;
		margin: auto;
	}

	#Presentac{ }
			#fotos_entrada{background: green;}
				#img1{ background: orangered;}
				#img2{ background: purple; }
					.img_pres{ 	}
			#txt_present{ background-color: skyblue; }


@media all and (min-width: 800px) {

	header, section, footer {width: 96%;}

	#enlaces {
		display: block;
		
		background-color: ;
	}
		#botonera_arriba {
			
		}
			.btn_botonera {
				background-color: saddlebrown;
				display: inline-block;
			}
			.btn_botonera a {
				text-decoration: none;
				font-size: 20px;
				padding: 5px 15px;
				color: white;
			}

		#menu_desp, span {display: none;}

		#desborde {
				background-color: red;
				height: 50px;
			}
	
}
